{% extends "index.html" %}

{% set aktiva_lapa = 'skills' %}

{% block saturs %}

<div class="section">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 – PAŠLAIK</p>
              <div class="image"><a href="#"><img src="static/images/Logo.png" alt="Image" /></a></div>
              <div class="h5"></div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Datortīklu administrators</div>
              <p class="category">Juridiskā koledža</p>
              <p>Programmēšanā, datu bāzu tehnoloģijās, datorsistēmu uzbūvē,
                operētājsistēmās, datortīklos un to administrēšanā, tīmekļa
                tehnoloģijās, projektu vadīšanā, saskarsmes kultūrā, ekonomikas
                pamatos, uzņēmējdarbības pamatos, darba tiesībās un darba
                aizsardzībā, tiesību pamatos, u.c.</p>
              <p>
                <b>Studiju joma(-as):</b><br>
              <ul>
                <li>Informācijas un komunikācijas tehnoloģijas (IKT)</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 – 2014</p>
              <div class="image"><a href="#"><img src="static/images/logo_100_white.svg" alt="Image" /></a></div>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Humanitāro zinātņu maģistra grāds</div>
              <p class="category">Latvijas Universitāte</p>
              <p>Mūsdienu krievu valodas un literatūras vēstures, teorijas pamatkursi;
                Praktikumi - folkloras, mediju,
                tulkošanas u.c.; Robežzinātņu kursi - filozofija, semiotika, antropoloģija,
                tulkošanas metodoloģija,
                korpuslingvistika, komunikācijas teorija u.c.</p>
              <p>
                <b>Studiju joma(-as):</b><br>
              <ul>
                <li>Sociālās zinātnes, žurnālistika un informācijas zinātne</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2009 – 2012</p>
              <div class="image"><a href="#"><img src="static/images/logo_100_white.svg" alt="Image" /></a></div>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Humanitāro zinātņu bakalaura grāds</div>
              <p class="category">Latvijas Universitāte</p>
              <p>Pamatzināšanas un specializētas zināšanas krievu filoloģijas jomā -
                krievu valodas izpēte teorētiskajā un lietišķajā aspektā, krievu literatūras
                un teorijas vēsture plašā kultūrvēsturiskā kontekstā, kā arī praktiski
                orientēti kursi, kas veido profesionālās un praktiskās kompetences
                tulkošanā, rediģēšanā un runas stilu un burtu uzlabošanā.</p>
              <p>
                <b>Studiju joma(-as):</b><br>
              <ul>
                <li>Sociālās zinātnes, žurnālistika un informācijas zinātne : Ar
                  sociālajām zinātnēm, žurnālistiku un informācijas zinātni saistītas
                  starpdisciplināras programmas un kvalifikācijas</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}