{% extends "index.html" %}

{% set aktiva_lapa = 'experience' %}

{% block saturs %}

<div class="section" id="experience">
    <div class="container cc-experience">
      <div class="h4 text-center mb-4 title">Work Experience</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>09/2019 – PAŠLAIK</p>
              <div class="h5">SIA "METLAT"</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Projektu vadītāja</div>
              <p>
              <ul>
                <li>Nodrošināt projekta laicīgu pabeigšanu, iekļaušanu paredzētajā budžēta;</li>
                <li>Kontrolēt izvirzīto mērķu un rezultātu sasniegšanu;</li>
                <li>Nodrošināt efektīvu resursu izmantošanu;</li>
                <li>Komandas darba organizēšana, uzdevumu sadale starp izpildītājiem; Projektu sagatavošana, apstiprināšana, kā arī savlaicīga izmaiņu ieviešana;</li>
                <li>Jaunu klientu piesaiste un darbs ar esošajiem;</li>
                <li>Darbs ar dokumentāciju - pavaddokumentāciju, instrukciju; rēķinu, pavadzīmju sagatavošana, komerciālo piedāvājumu reģistrācija, pieteikumu sagatavošana dalībai konkursā;</li>
                <li>Lietišķā sarakste, līguma noslēgšanas sagatavošana, ienākošo un izejošo zvanu veikšana;</li>
                <li>Konfliktu situāciju risināšana;</li>
                <li>Uzņēmuma darbībai nepieciešamo dokumentu, līgumu, atļauju sagatavošana.</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>04/2015 – 04/2018</p>
              <div class="h5">SIA "OVI RĪGA"</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Lietvedis</div>
              <p>
              <ul>
                <li>Nodrošināt efektīvu informācijas un dokumentu apriti uzņēmumā;</li>
                <li>Sagatavot, noformēt, reģistrēt un nosūtīt dokumentus (līgumi, rēķini, iesniegumi, akti un tt.);</li>
                <li>Zvanu saņemšana.</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>09/2014 – 02/2015</p>
              <div class="h6">Odnoklassniki.ru</div>
              <div class="h5">SIA "IT Solution Latvia"</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Datu apstrādes speciālists</div>
              <p>
              <ul>
                <li>Ielādētās informācijas satura apstrāde;</li>
                <li>Informācijas atbilstības noteikšana lietošanas noteikumiem;</li>
                <li>Teksta apstrade;</li>
                <li>Informācijas tehnoloģiju stretēģijas izveidošana.</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}