{% extends "index.html" %}

{% set aktiva_lapa = 'skills' %}

{% block saturs %}

<div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">My Skills</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <b>DIGITĀLĀS PRASMES:</b> MS Office / Spēja adaptēties jaunu rīku lietošanai / Prasme prezentēt
              informāciju, izmantojot dažādus digitālus rīkus. / Medijpratība un
              informācijas izpētes prasmes / Sociālo mediju prasmes / IT un datu
              drošības pamati / Digitālo tehnoloģiju izmantošana komunikācijā /
              Problēmu risināšana, izmantojot digitālās tehnoloģijas <br><br>
              <b>TRANSPORTLĪDZEKĻA VADĪTĀJA TIESĪBAS:</b> B <br><br>
              <b>ORGANIZATORA PRASMES:</b> Prasme vadīt un organizēt savu darbu;
              Prasme kvalitatīvi organizēt savu laiku;
              Spēja iekļauties darba paveikšanas termiņos;
              Prasme vadīt cilvēkus un darba komandu;
              Spēja organizēt un pārraudzīt citu darbu;
              Prasme pieņemt patstāvīgus lēmumus un uzņemties atbildību.<br><br>
              <b>SAZIŅAS UN SASKARSMES PRASMES:</b> Kvalitatīvas komunikācijas prasmes, izmantojot telefonu un
              elektroniskos resursus un sociālos medijus;
              Sēja paredzēt komunikācijas situācijas sociālās un
              psiholoģiskās īpašības;
              Spēja reaģēt uz kritiku;
              Spēja reaģēt uz sarunu biedra provokatīvu uzvedību.
            </div>
          </div>
        </div>
      </div>

{% endblock %}